body {
	font-family: Ubuntu;
	font-size: 16px;
	background-color: whitesmoke;
	}
.divPageBody {
	width: 60%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 400px;
	}
p {
	line-height: 140%;
	margin-bottom: 15px;
	}

.divOutlineViewer, .divJsonViewer,  .divOpmlViewer {
	margin-top: 15px;
	padding: 3px;
	border: 1px solid silver;
	}
.divOutlineViewer li {
	padding-top: 3px;
	padding-bottom: 3px;
	}
.divOutlineViewer ul {
	list-style-type: circle;
	}

